fastapi
uvicorn[standard]
transformers>=4.34.0
accelerate
peft
datasets
sentence-transformers
langchain
chromadb
mlflow
prometheus-client
torch
torchvision
tokenizers
python-multipart
streamlit
requests
python-dotenv
